/* header */

@media (max-width:1200px) {
    header {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav {
        width: 576px;
        justify-content: space-between;
    }

    .logo {
        margin-right: 70px;
    }

    .nav-links ul {
        width: 431px;
    }

    .nav-links ul li {
        margin-left: -7px;
    }
}

@media (max-width:1205px) {
    header {
        padding: 0;
        padding-top: 2px;
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media (max-width: 745px) {

    header {
        position: fixed;
    }

    .design {
        display: none;
    }

    .burger-menu {
        display: block;
        background-color: transparent;
        border: none;

        position: fixed;
        right: 2%;

        cursor: pointer;
        z-index: 100;
    }

    .nav-links ul {
        width: 100%;
    }

    .fa-bars {
        color: white;
        font-size: 25px;
    }

    .fa-circle-xmark {
        color: white;
        font-size: 25px;
    }

    .nav-links ul {
        transform: translateY(-100%);
        z-index: 99;
        flex-direction: column;

    }

    #showMenu {
        transform: translateY(0);
    }

    .burger-style {
        position: fixed;
        height: 250px;
        top: 80px;
        left: 0;
        width: 100%;
        padding-left: 25px;
        background-color: #000000;
    }
}

@media (max-width:430px) {
    .burger-style {
        width: 300px;
    }

    .nav-links ul {
        width: 100%;
    }
}

/* slider section */

@media (max-width: 1110px) {
    .slider-navigation i {
        top: 300px;
        z-index: 9;
    }
}

@media (max-width: 710px) {

    .slider-navigation i {
        top: 200px;
        font-size: 40px;
    }

    header {
        height: 50px;
    }

    .logo {
        border: none;
    }

    .nav-links ul {
        top: 49.7px;
        padding-top: 10px;
        height: 150px;
    }
}

@media (max-width: 384px) {
    .slider-navigation i {
        color: #000000;
        top: 235px;
    }

}

@media (max-width: 334px) {
    .slider-navigation i {
        color: #000000;
        top: 210px;
        font-size: 25px;
    }

}

/* slider content */

@media (max-width: 1300px) {
    .ellipse {
        width: 350px;
        height: 350px;
    }

    .page-heading {
        font-size: 80px;
    }
}

@media (max-width: 1100px) {

    .ellipse {
        width: 300px;
        height: 300px;
    }

    .page-heading {
        font-size: 50px;
        line-height: 50px;
        left: 200px;
        top: 50px;
    }

    .watch-btn {
        top: 350px;
        left: 120px;
    }
}

@media (max-width: 810px) {
    .ellipse {
        left: 20px;
    }

    .page-heading {
        left: 100px;
    }

    .slider-container {
        top: 30px;
    }
}

@media (max-width: 690px) {
    .ellipse {
        width: 200px;
        height: 200px;
    }

    .page-heading {
        font-size: 40px;
        line-height: 30px;
        left: 45px;
    }

    .watch-btn {
        width: 256px;
        height: 47px;
        left: 20px;
        top: 280px;
    }
}

@media (max-width: 590px) {
    .watch-btn {
        top: 250px;
    }
}

@media (max-width: 530px) {
    .ellipse {
        width: 150px;
        height: 150px;
    }

    .page-heading {
        font-size: 30px;
        line-height: 25px;
    }

    .watch-btn {
        width: 130px;
        height: 30px;
    }
}

@media (max-width:500px) {
    .watch-btn {
        top: 15px;
        left: 80px;
    }
}

@media (max-width: 341px) {
    .ellipse {
        left: 0px;
    }

    .page-heading {
        left: 20px;
    }

    .watch-btn {
        left: 50px;
    }
}

/* section 2 */
@media (max-width:1600px) {
    .section-1 {
        margin-bottom: 50px;
    }

    .section-2-flower {
        top: 1000px;
    }
}

@media (max-width: 1500px) {
    .section-2-flower {
        display: none;
    }

    .section-1 {
        margin-bottom: 0;
    }
}

@media (max-width: 1300px) {
    .section-2 {
        margin-top: 150px;
    }
}

@media (max-width: 1165px) {
    .section-2 {
        width: 100%;
        align-items: center;
        margin-top: 0px;
    }

    .bamboo-cap {
        display: none;
    }
}

@media (max-width: 900px) {
    .section-2 {
        margin-top: -150px;
    }

}

@media (max-width: 700px) {
    .section-2 {
        margin-top: -300px;
    }

}

@media (max-width: 475px) {
    .section-2 {
        margin-top: -400px;
        height: auto;
        width: 300px;
    }

}

@media (max-width: 320px) {
    .section-2 {
        margin-top: -500px;
        height: auto;
        width: 300px;
    }

}

/* section 3 */
@media (max-width: 1165px) {
    .section-3 {
        width: 1110px;
    }
}

@media (max-width: 1115px) {
    .animal-block:first-child {
        display: none;
    }

    .row-1,
    .row-2 {
        width: auto;
    }

    .section-3 {
        width: auto;
    }

    .animal-block {
        margin-left: 5px;
    }


}


@media (max-width: 740px) {

    .row-1,
    .row-2 {
        height: auto;
        flex-direction: column;
    }

    .section-3 {
        height: auto;
    }

    .animal-block:first-child {
        display: flex;
    }

    .animal-block {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

@media (max-width: 465px) {
    .animal-block {
        width: 315px;
        height: 500px;
    }

    .animal-block img {
        width: 312px;
        height: 312px;
    }

    .animal-block-txt-container {
        justify-content: flex-end;
    }

    .our-animals {
        width: 315px;
    }
}

/* section 4 */

@media (max-width: 1155px) {
    .section-4-txt-container {
        width: 800px;
    }
}

@media (max-width: 955px) {
    .section-4 {
        height: 1300px;
    }

    .section-4-content {
        height: 1200px;
    }

    .section-4-txt-container {
        width: 600px;
        height: auto;
    }

    .section-4-img-container {
        width: auto;
        height: auto;
    }

    .section-4-img-container h2 {
        margin-bottom: 30px;
    }

    .how-it-works {
        flex-direction: column;
        width: auto;
        height: auto;
    }
}

@media (max-width: 754px) {

    .section-4 {
        padding: 0;
        margin: 0;
    }

    .section-4-content {
        width: 450px;
        padding: 0;
    }

    .section-4-txt-container h4,
    .section-4-txt-container h3 {
        display: none;
    }

    .section-4-txt-container p {
        width: 300px;
        height: auto;
    }

    .section-4-txt-container h2 {
        font-size: 30px;
        width: 300px;
    }

    .section-4-txt-container {
        width: 300px;
        margin-top: 50px;
    }
}

/* modal window */
@media (max-width: 755px) {
    .modal {
        padding: 10px 20px 0px 20px;
        width: 500px;
    }
}

@media (max-width: 746px) {
    .modal-close-btn {
        color: #448606;
    }
}

@media (max-width: 500px) {
    .modal {
        width: 400px;
    }
}

@media (max-width: 400px) {
    .modal {
        width: 300px;
        padding: 20px 5px 0px 5px;
    }

    #credit-card {
        width: 200px;
    }

    #name,
    #lastName {
        width: 100px;
    }

    .cvv-label {
        position: absolute;
        top: 67%;
        left: -14%;
    }
}

/* section 5 */

@media (max-width: 1165px) {
    .testimonial:last-child {
        display: none;
    }

    .testimonials {
        width: 900px;
    }

    .section-5 {
        width: auto;
    }
}


@media (max-width: 900px) {
    .section-5 {
        height: 1200px;
        position: relative;
    }

    .testimonials {
        width: auto;
        flex-direction: column;
        height: auto;
    }

    .testimonial {
        margin-top: 20px;
    }

    .section-5 button {
        margin-top: 20px;
        width: 250px;
    }
}