@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button:hover {
    color: #1eee0b;
    background-color: #448606;
}

header {
    width: 100%;
    height: 80px;
    background-color: #000000;

    padding: 14px 220px;

    position: fixed;
    left: 0;
    top: 0;

    z-index: 10;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 617px;
    height: 52px;
}

.logo {
    width: 82px;
    height: 52px;
    border-radius: 2px;
    border: solid 1px #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.logo a {
    width: 82px;
    height: 45px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
}

.logo img {
    position: absolute;
    left: 9px;
    top: 22px;
}

.nav-links ul {
    width: 472px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
}

.nav-links a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.5px;
    color: #FFFFFF;
}

#active-link {
    color: #1eee0b;
}

.design {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.5px;
    color: #FFFFFF;
}

/*slider section */

.section-1 {
    width: 100%;
    height: 800px;
    position: relative;
    top: 14px;
    margin-bottom: 200px;
}

.slider-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider-navigation i {
    cursor: pointer;
    position: absolute;
    font-size: 50px;
    color: #FFFFFF;
    z-index: 99;
}

.fa-chevron-left {
    left: 70px;
    top: 450px;
}

.fa-chevron-right {
    right: 70px;
    top: 450px;
}

.slider {
    transition: all 0.3s ease;
}

.slider-img {
    width: 100%;
    height: 780p;
    position: absolute;
    display: none;
    margin-bottom: 200px;
}

.main {
    display: block;

}

.ellipse {
    position: absolute;
    left: 11%;
    top: 2%;
    width: 465px;
    height: 465px;
    background-color: #448606;
    border-radius: 50%;
}

.page-heading {
    position: absolute;
    left: 14%;
    top: 14%;

    text-transform: uppercase;
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 700;
    font-size: 106.5px;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
}

.page-heading span {
    color: #b0f809;
}

.watch-btn {
    width: 298px;
    height: 54px;
    border-radius: 25px;
    text-transform: uppercase;
    background-color: #b0f809;
    border: none;
    color: #448606;
    font-weight: 700;
    position: absolute;
    top: 70%;
    left: 15%;
}

.slider-container {
    position: relative;
    top: 65px;
}

/* section 2 */

.section-2 {
    margin-top: 300px;
    width: 1161px;
    height: 403px;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bamboo-cap {
    width: 609px;
    height: 100%;
    background-image: url(../images/bamboo-cap.png);
}

.section-2-txt-container {
    width: 465px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-2-txt-container h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
    text-align: left;
}

.section-2-txt-container h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    text-align: left;
}

.section-2-txt-container p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    text-align: left;
}

.section-2-flower {
    position: absolute;
    right: 0;
    top: 1200px;
}


.none {
    display: none;
}