@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button:hover {
    color: #104e0b;
}

header {
    width: 100%;
    height: 80px;
    background-color: #000000;

    padding: 14px 220px;

    position: fixed;
    left: 0;
    top: 0;

    z-index: 10;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 617px;
    height: 52px;
}

.logo {
    width: 82px;
    height: 52px;
    border-radius: 2px;
    border: solid 1px #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.logo a {
    width: 82px;
    height: 45px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
}

.logo img {
    position: absolute;
    left: 9px;
    top: 22px;
}

.nav-links ul {
    width: 472px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
}

.nav-links a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.5px;
    color: #FFFFFF;
}

#active-link {
    color: #1eee0b;
}

.design {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.5px;
    color: #FFFFFF;
}

/*slider section */

.section-1 {
    width: 100%;
    height: 800px;
    position: relative;
    top: 14px;
    margin-bottom: 200px;
}

.slider-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider-navigation i {
    cursor: pointer;
    position: absolute;
    font-size: 50px;
    color: #FFFFFF;
    z-index: 99;
}

.fa-chevron-left {
    left: 70px;
    top: 450px;
}

.fa-chevron-right {
    right: 70px;
    top: 450px;
}

.slider {
    transition: all 0.3s ease;
}

.slider-img {
    width: 100%;
    height: 780p;
    position: absolute;
    display: none;
    margin-bottom: 200px;
}

.main {
    display: block;

}

.ellipse {
    position: absolute;
    left: 11%;
    top: 2%;
    width: 465px;
    height: 465px;
    background-color: #448606;
    border-radius: 50%;
}

.page-heading {
    position: absolute;
    left: 14%;
    top: 14%;

    text-transform: uppercase;
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 700;
    font-size: 106.5px;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
}

.page-heading span {
    color: #b0f809;
}

.watch-btn {
    width: 298px;
    height: 54px;
    border-radius: 25px;
    text-transform: uppercase;
    background-color: #b0f809;
    border: none;
    color: #448606;
    font-weight: 700;
    position: absolute;
    top: 70%;
    left: 15%;
}

.slider-container {
    position: relative;
    top: 65px;
}

/* section 2 */

.section-2 {
    margin-top: 300px;
    width: 1161px;
    height: 403px;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bamboo-cap {
    width: 609px;
    height: 100%;
    background-image: url(../images/bamboo-cap.png);
}

.section-2-txt-container {
    width: 465px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-2-txt-container h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
    text-align: left;
}

.section-2-txt-container h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    text-align: left;
}

.section-2-txt-container p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    text-align: left;
}

.section-2-flower {
    position: absolute;
    right: 0;
    top: 1200px;
}

.section-3 {
    width: 1158px;
    height: 1130px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
}

.our-animals {
    width: 465px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 57.5px;
    color: #333B41;
    text-align: center;
}

.row-1 {
    width: 100%;
    height: 500px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.row-2 {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.animal-block {
    width: 366px;
    height: 100%;
    border-radius: 7px;
    border: 1px solid #b0f809;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.animal-block-txt-container {
    width: 100%;
    height: 130px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px 5px 10px;
}

.animal-block-txt-container p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #333B41;
    margin-bottom: 5px;
}

.animal-block-txt-container .name {
    font-weight: 600;
    margin-bottom: 10px;
}

.animal-block-txt-container .fact {
    color: #448606;
}

/* section 5 */

.section-4 {
    height: 1004px;
    width: 100%;
    position: relative;
    top: 40px;
    background-image: linear-gradient(to bottom right, #82db8e, #bfeebb);
    opacity: 0.9;
    padding: 69px 220px 100px 220px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
}

.section-4-content {
    width: 1160px;
    height: 835px;

    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;

    padding: 41px 54px 59px 99px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-4-txt-container {
    width: 1002px;
    height: 232px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-4-txt-container h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;

    color: #033806;
}

.section-4-txt-container h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.section-4-txt-container h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.section-4-txt-container p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.section-4-img-container {
    width: 764px;
    height: 331px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-4-img-container h2 {
    width: 209px;
    height: 47px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
}

.how-it-works {
    width: 764px;
    height: 236px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-and-title {
    width: 168px;
    height: 244px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-div {
    width: 168px;
    height: 168px;

    background: #FFFFFF;
    border-radius: 5px;
    border: solid 1px #b0f809;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-div i {
    font-size: 35px;
    color: #979696;
}

.img-title {
    width: 168px;
    height: 46px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

.section-4-content button {
    width: 298px;
    height: 54px;

    background: linear-gradient(113.96deg, #a1df13 1.49%, #1bac3f 101.44%);
    border-radius: 25px;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    cursor: pointer;
}

.section-4-content button:hover {
    color: #033806;
    font-weight: 700;
}

/* modal window for form */

.modal {
    position: fixed;
    width: 750px;
    height: 500px;
    background-color: rgb(230, 242, 252);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;

    border-radius: 20px;
    border: solid 2px #1bac3f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 30px 120px 30px 50px;
}

.modal-close-btn {
    align-self: flex-end;
    font-size: 30px;
    color: #448606;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
}

form {
    font-family: 'Roboto', sans-serif;
    color: #383737;
    font-weight: 500;
}

form input {
    height: 30px;
    border-radius: 5px;
    border: solid 1px #448606;
}

.name-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.credit-card-input {
    font-size: 15px;

}

.credit-card-input input {
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}


#credit-card {
    width: 350px;
}

#exp-date {
    width: 70px;
}

#cvv {
    width: 130px;
    margin-left: 20px;
}

.cvv-label {
    margin-left: 65px;
}

.pay-btn {
    text-transform: uppercase;
    width: 170px;
    height: 50px;
    border: none;
    background-color: #448606;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.pay-btn:disabled {
    background-color: #979696;
    cursor: not-allowed;
}

.asterisk {
    color: red;
}

.section-5 {
    width: 1160px;
    height: 607px;
    margin-top: 143px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 177px;
}

.section-5 h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333B41;
    align-self: center;

}

.testimonials {
    width: 1160px;
    height: 391px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 268px;
    height: 391px;
    border: double 3px transparent;
    border-radius: 20px;
    background-image: linear-gradient(#F1F3F2, #F1F3F2), linear-gradient(290deg, #09f815, #448606, #b0f809, #EAF7FE);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.scroll-bar {
    width: 599px;
    height: 8px;
    align-self: center;
    background-color: #333B41;
}

.section-5 button {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #a1df13 1.49%, #1bac3f 101.44%);
    border-radius: 20px;
    align-self: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
}

.section-5 button:hover {
    color: #033806;
    font-weight: 700;
}

.user-info {
    width: 191px;
    height: 38px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 15px;
}

.user-id {
    width: 144px;
    height: 38px;

    display: flex;
    flex-direction: column;
}

.name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

.location-time {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
    width: 170px;

}

.user-review {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20.5px;
    line-height: 120%;
    color: #767474;

    margin: 10px 15px 19px 16px;
}

footer {
    width: 100%;
    height: 350px;
    background-color: #000000;
    padding: 50px 100px 50px 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    height: 250px;
    width: calc((100% - 200px)/2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-content-one {
    align-items: flex-start;
}

.footer-content-two {
    align-items: flex-end;
}

.social-link {
    width: auto;
    height: 30px;
}

.social {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social i {
    color: white;
    font-size: 25px;
}

.social span {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}

.footer-content-two input {
    width: 200px;
    height: 30px;
    border: solid 1px #09f815;
    background-color: transparent;
    color: white;
}

.footer-content-two h3 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    font-size: 20px;
}

.email-submit {
    height: 30px;
    width: 70px;
    border: solid 1px #1bac3f;
    background-color: white;
    color: #1bac3f;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 20px;
}

.email-submit:hover {
    background-color: #09f815;
    color: #000000;
}

/* feedback modal window */

#close-feedback {
    color: #000000;
    position: absolute;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}

.modal-feedback {
    position: fixed;
    bottom: 2px;
    right: 0;
    width: 450px;
    height: 200px;

    background-color: #F1F3F2;
    border-radius: 25px;
    border: solid 5px #b0f809;
    padding: 10px;


    z-index: 10;
}

.modal-feedback p {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #000000;
}

.modal-feedback input {
    width: 350px;
    height: 100px;
    margin-top: 10px;
    border: solid 2px #b0f809;
}

.submit-btn {
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    background-color: #b0f809;
    color: #000000;
    width: 100px;
    height: 30px;
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 600;
}

.thank-u-txt {
    text-align: center;
    position: relative;
    top: 30%;
}

.none {
    display: none;
}